@import "tailwindcss";

@layer base {
  body {
    @apply font-sans; /* Use Tailwind's sans font stack */
    font-family: 'Inter', sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}

